chicory-environment: not portable part of Chicory
=====================================

Not portable part of chicory. This package should be as small as possible.
Classes used for talking to operating system.

Part of [chicory](https://github.com/sviperll/chicory).

Installation
------------

{{#version}}
Use maven dependency:

```xml
    <dependency>
        <groupId>com.github.sviperll</groupId>
        <artifactId>chicory-environment</artifactId>
        <version>{{stable}}</version>
    </dependency>
```

{{#unstable}}
You can use latest unstable version instead: 

```xml
    <dependency>
        <groupId>com.github.sviperll</groupId>
        <artifactId>chicory-environment</artifactId>
        <version>{{unstable}}</version>
    </dependency>
```
{{/unstable}}
{{/version}}

Changelog
---------

Usage
-----

See [javadoc](http://sviperll.github.io/chicory/chicory-environment/apidocs/index.html)
