chicory-core: basic Java SE library
=====================================

Basic utilities to compensate shortcomings of Java SE.

Part of [chicory](https://github.com/sviperll/chicory).

Installation
------------

Use maven dependency:

```xml
    <dependency>
        <groupId>com.github.sviperll</groupId>
        <artifactId>chicory-core</artifactId>
        <version>{{STABLE_VERSION}}</version>
    </dependency>
```

{{#UNSTABLE_VERSION}}
You can use latest unstable version instead:

```xml
    <dependency>
        <groupId>com.github.sviperll</groupId>
        <artifactId>chicory-core</artifactId>
        <version>{{UNSTABLE_VERSION}}</version>
    </dependency>
```
{{/UNSTABLE_VERSION}}

Changelog
---------

Since 0.18

 * Move text layout classes into separate chicory-text package.


Usage
-----

See [javadoc](http://sviperll.github.io/chicory/chicory-core/apidocs/index.html)
