chicory-text: text handling tools
=====================================

Rudimentary tools needed for text handling.

Part of [chicory](https://github.com/sviperll/chicory).

Installation
------------

Use maven dependency:

```xml
    <dependency>
        <groupId>com.github.sviperll</groupId>
        <artifactId>chicory-text</artifactId>
        <version>{{STABLE_VERSION}}</version>
    </dependency>
```

{{#UNSTABLE_VERSION}}
You can use latest unstable version instead:

```xml
    <dependency>
        <groupId>com.github.sviperll</groupId>
        <artifactId>chicory-text</artifactId>
        <version>{{UNSTABLE_VERSION}}</version>
    </dependency>
```
{{/UNSTABLE_VERSION}}

Changelog
---------

Usage
-----

See [javadoc](http://sviperll.github.io/chicory/chicory-text/apidocs/index.html)
